* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-300: #09a0ec;
    --primary-color-500: #0d46ac;
    --primary-color-700: #0a3790;

    --secondary-color-500: #f0f0f0;
    --secondary-color-700: #e0e0e0;

    --neutral-dark: #333333;
}

.navbar {
    background-color: var(--primary-color-700);
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: navbar;
}

.logo {
    color: var(--secondary-color-700);
}

.btn-hamburger {
    background-color: transparent;
    color: var(--secondary-color-700);

    display: none;
    /* visibility: hidden; */
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.nav-item {
    list-style: none;
    transition: .3s;
}

.nav-item a {
    color: var(--secondary-color-700);
    text-decoration: none;
}

.nav-item:hover {
    transform: scale(1.06);
    text-shadow: 0 0 10px var(--secondary-color-500);
}

.btn {
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-login {
    background-color: var(--primary-color-300);
    color: var(--primary-color-700);

    font-weight: 900;

}

.btn-register {
    background-color: var(--primary-color-700);
    border: solid 2px var(--primary-color-300);

    color: var(--primary-color-300);
    font-weight: 900;
}

.btn:hover {
    transform: scale(1.06);
    box-shadow: 0 0 10px var(--secondary-color-500);
}

.grid-layout {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto 1fr auto;

    grid-template-areas: 
        "navbar navbar"
        "header header"
        "aside main"
        "footer footer";

    min-height: 100vh;
}

.header-container {
    background-color: #d1ec09;
    padding: 2rem;

    grid-area: header;
}

.aside-section {
    background-color: #a20dac;
    padding: 2rem;

    grid-area: aside;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: space-around;
    align-items: center;
}

.article-1 {
    background-color: #0d46ac;
    padding: 2rem;

    height: 20%;
    width: 80%;
}

.article-2 {
    background-color: #ac0d0d;
    padding: 2rem;

    height: 20%;
    width: 80%;
}
.article-3 {
    background-color: #aca90d;
    padding: 2rem;

    height: 20%;
    width: 80%;
}

.main-section {
    background-color: #90e610;
    padding: 2rem;

    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;

    grid-template-areas: 
        "section-1 section-1 section-1"
        "section-2 section-3 section-4"
        "section-5 section-5 section-5"
    ;

    gap: .5rem
}

.section-1 {
    background-color: aliceblue;
    padding: 1rem;

    grid-area: section-1;
}
.section-2 {
    background-color: #f0a202;
    padding: 1rem;

    grid-area: section-2;
}

.section-3 {
    background-color: #ac45ac;
    padding: 1rem;

    grid-area: section-3;
}

.section-4 {
    background-color: #02ac45;
    padding: 1rem;

    grid-area: section-4;
}
.section-5 {
    background-color: #02acac;
    padding: 1rem;

    grid-area: section-5;
}

.footer-section {
    background-color: #900a0a;
    padding: 2rem;

    grid-area: footer;
}

@media(max-width: 780px) {
    .navbar {
        flex-direction: column;
        gap: 2rem;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-item {
        padding: 0 1rem;
        padding-bottom: .5rem;
        border-bottom: solid 1px var(--secondary-color-500);
    }
}

@media(max-width: 480px) {
    .btn-hamburger {
        display: block;
        padding: .6rem
    }

    .btn-hamburger:hover {
        border-radius: 10px;
        box-shadow: 0 0 10px var(--secondary-color-500);
    }

    .nav-links {
        display: none;
    }
}



/*Paradigma Mobile First*/

/* 
    media queries -> No es un standard oficial, es solo una recomendación

  -Telefonos muy pero muy pequeños -> min-width: 320px
  -telefonos medianos -> min-width: 375px
  -telefonos grandes -> min-width: 430px
  -tablets -> min-width: 780px
  -tablet grande -> min-width: 1024px
  -pantallas notebook -> min-width: 1280px
  -pantallas grandes -> min-width: 1440px
  -pantallas extra anchas -> min-width 1920px
  -pantallas extra grandes 4k -> min-width: 2560px    
*/